body {
  background-color: #468282;
}

h1 {
  color: #ffffff;
  font-family: "Century Gothic", arial;
}

p {
  color: #ffffff;
  font-family: arial;
}
ul {
  color: #dddddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li {
  float: left;
}
.burgerMenuContainer {
  display: none;
}
.headerContainer {
  padding-top: 20px;
}
header {
  max-width: 1080px;
  margin: auto;
}
main {
  max-width: 1080px;
  margin: auto;
}
.news {
  flex-wrap: nowrap;
  font-size: 1.2rem;
}
.news > div {
  flex: 1 1 25%;
  padding: 0;
  margin: 0 20px;
}
.news > div:first-child {
  margin-left: 0;
}
.news > div:last-child {
  margin-right: 0;
}
