* {
  box-sizing: border-box;
}
body {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  background-color: lightslategrey;
}

.news {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.news > div {
  flex: 1 1 50%;
}
.news img {
  width: 100%;
}
