* {
  box-sizing: border-box;
}
body {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  background-color: lightslategrey;
  padding: 0;
  margin: 0;
}
/*main styling*/
.strapline {
  display: flex;
  flex-wrap: wrap;
}
.news {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.news > div {
  flex: 1 50%;
  padding-right: 10px;
}
.news img {
  width: 100%;
}
footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 0.8rem;
}
